:root {
  --color-bg-primary: #333;
  --color-bg-secondary: lightblue;
  --color-font-primary: #000;
  --color-font-secondary: lightblue;
  --color-placeholder: #8e8e8e;
  --color-danger: red;
  --border-radius: 5px;
  --transition-default: 0.3s;
}
