$color-bg-primary: var(--color-bg-primary);
$color-bg-secondary: var(--color-bg-secondary);
$color-font-primary: var(--color-font-primary);
$color-font-secondary: var(--color-font-secondary);
$color-placeholder: var(--color-placeholder);
$color-danger: var(--color-danger);
$border-radius: var(--border-radius);
$transition-default: var(--transition-default);
